/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#canva-header {
  background-color: blue;
} */

@font-face {
  font-family: Canva Sans;
  src: url(../public/fonts/canva_sans/CanvaSans-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: Canva Sans;
  src: url(../public/fonts/canva_sans/CanvaSans-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: Canva Sans;
  src: url(../public/fonts/canva_sans/CanvaSans-Bold.woff);
  font-weight: 600;
}

@font-face {
  font-family: Canva Sans Display;
  src: url(../public/fonts/canva_sans_display/CanvaSansDisplay-Bold.woff);
  font-weight: 600;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1,
h2 {
  font-family: Canva Sans Display;
}

h1 {
  font-size: 20px;
}

h3,
h4,
h5,
h6,
p,
a,
button,
input,
i,
select,
sub {
  font-family: Canva Sans;
}

p {
  font-size: 14px;
  line-height: 22px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  /* overflow-x: hidden; */
  /* overflow-y: unset; */
  /* overflow-y: hidden; */
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* STARTS HERE */
/* @font-face {
  font-family: "Light"; 
  src: local("AirbnbCerealLight"),
    url("./font/AirbnbCerealLight.ttf") format("truetype");
} */



:root {
  --primary: #8B3DFF;
  --grey-light: #EBECF0;
  --grey-ultra-dark: #18191B;
  --white: #ffffff;
  --white15: #FFFFFF26;
  --white70: #FFFFFFB2;
  --white07: #FFFFFF12;
  --type-primary: #0D1216;
  --border-low: #394C6026;
  --border-hover: #1C273080;
  --border: #2B3B4A4D;
  --type-tertiary: #0D1216B2;
  --black-07: #40576D12;
}

html {
  background-color: #000000;
}

body {
  max-width: 1366px;
  /* min-width: 1366px; */
  /* max-height: 768px;
  min-height: 768px; */
  max-height: 708px;
  min-height: 708px;
  background-color: var(--grey-light);
  display: grid;
  /* grid-template-areas: "Header" "Editor"; */
  /* grid- */
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr;
}

main {
  display: grid;
  grid-template-columns: 72px 1fr 360px;
  flex-direction: row;
  width: 100%;
  height: 100%;

  /* transition: all 0.25s ease 0s; */
}

header {
  background: linear-gradient(90deg, #00C4CC 0%, #7D2AE8 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 8px;

  /* grid-area: "Header"; */
}

.button-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button-container.small {
  gap: 0px;
}

input {
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 14px;
  width: min-content;
  text-align: right;
  padding: 6px;
}

/* EDITOR */

#editor {
  display: grid;
  grid-template-rows: 48px 1fr 48px;

  /* display: flex; */
  width: 100%;
  height: 100%;

  /* grid-area: "Editor"; */
}

#object-panel {
  display: flex;
  /* display: table-cell; */
  flex-direction: column;
  background-color: var(--grey-ultra-dark);
}

#object-panel .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white70);
  width: 72px;
  height: 72px;

  font-size: 12px;
  border-radius: 0;
}

#toolbar,
#page-toolbar {
  height: 48px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toolbar {
  box-shadow: 0px 1px 0px 0px #0E131826;
}

#design-area {
  display: flex;
  /* background-color: cornflowerblue; */
  /* width: 50%;
  height: 50%; */

  justify-content: center;
  align-items: center;
}

#canvas-area {
  background-image: url("../public/assets/design.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 33%;
  /* max-width: 450px; */
  padding-bottom: 45%;
  box-shadow: 0px 2px 8px 0px #394C6026;
}


/* 

.demoWrapper {
  padding: 10px;
  background: white;
  box-sizing: border-box;
  resize: horizontal;
  border: 1px dashed;
  overflow: auto;
  max-width: 100%;
  height: calc(100vh - 16px);
}

div {
  width: 100%;
  padding-bottom: 75%;
  background: gold; /** <-- For the demo **/
/* }
<div class="demoWrapper">
  <div></div>
</div> */
/* */

#print-panel {
  display: grid;
  width: 360px;
  height: 100%;
  background-color: white;
  box-shadow: -1px 0px 1px 0px #0E13181A;
  grid-template-rows: 48px auto 94px;

  /* transition: all 0.25s ease 0s; */
}

#print-panel-nav {
  display: grid;
  grid-template-columns: 48px 1fr 1fr 48px;
  box-shadow: 0px 1px 1px 0px #0E13181A;
  z-index: 2;

  /* grid-template-areas: "." "." "." "Close" */
}


.select {
  background-color: transparent;
  padding: 8px 12px;
  font-size: 14px;
  font-family: Canva Sans;
  /* font-weight: 500; */
  border: 1px solid var(--border);
  border-radius: 4px;
  display: grid;
  column-gap: 12px;
  align-items: center;
}

.select:hover {
  border-color: var(--border-hover);
  cursor: pointer;
}

#print-panel-main article {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 4px;
}

article {
  position: relative;
}

article > p > strong:first-child {
  font-size: 12px;
}

.select.page {
  grid-template-columns: auto 1fr 16px;
}

.select.size {
  grid-template-columns: 1fr 16px;
}

ul {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 8px 0px #0E131826;
  position: absolute;
  top: 72px;
  width: 100%;

  display: none;
  z-index: 1;
}

ul.active {
  display: inline;
}

li.size-option {
  padding: 8px 12px 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction */
}

li.size-option p ~ svg {
  visibility: hidden;
}

li.size-option.active p  {
  font-weight: 500;
}

li.size-option.active sub {
  font-weight: 400;
}

li.size-option.active p ~ svg {
  visibility: visible;
}

li.size-option p {
  font-weight: 400;
  display: flex;
  flex-direction: column;

}

li:hover {
  background-color: var(--black-07);
  cursor: pointer;
}

sub {
  color: var(--type-tertiary);
  font-size: 12px;
}

#live-preview {
  display: flex;
  max-width: 360px;
  overflow-x: scroll;
  padding: 16px;
  padding-bottom: 0;
  gap: 16px;
  height: max-content;

  scroll-snap-type: x mandatory;




  background-color: var(--white);
  z-index: 1;
  box-shadow: none;
  position: relative;
  scroll-behavior: smooth;
  /* top: 0;
  position: sticky; */

/* box-shadow: 0px 0px 0px 1px #40576D12; */
/* transition: all 0.5s/ ease 2s; */
/* transition-delay: 5s; */
}

/* SCROLLBAR */
#live-preview::-webkit-scrollbar {
  width: 0px;
}

#live-preview img {
  scroll-snap-align: center;
  width: 92%;
  /* height: 72%; */
  /* min-width: 328px; */
  /* min-height: 244.7px; */
  /* max-width: 328px; */
  /* max-height: 244.7px; */
  border-radius: 4px;
  /* transition: all 0.6s 0s; */
  transition: width 0.5s ease 0s;

}

#live-preview.shrunk {
  box-shadow: 0px 2px 4px 0px #0E131810;
    top: 0;
  position: sticky;
}

#live-preview.smaller img {
  width: 75%;
}

.select.quantity {
  grid-template-columns: 1fr auto 16px;
}

.select.page img {
  width: 32px;
  height: 40px;
  border-radius: 2px;
  border: 1px inset var(--border-low);
}


#tab {
  justify-content: flex-start;
  padding: 8px;
  width: max-content;
  border-radius: 0;
  border-bottom: 2px solid var(--primary);
}

#print-panel-footer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  /* align-items: center; */
  /* text-align: center; */

  box-shadow: 0px -2px 4px 0px #0E131810;

  transition: all 0.2s ease 0s;
  /* box-shadow: 0px 0px 0px 1px #0E131812; */
}

#print-panel-footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#print-panel-footer button {
  display: flex;
  /* align-items: center; */
  justify-content: center;

}

p strong {
  font-size: 14px;
  font-weight: 500;
}

/* BUTTONS */

button {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* //styleName: Body/Medium (Bold); */

  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;

  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

.light.primary {
  color: var(--white);
  background-color: var(--primary);
}

.dark.secondary,
.dark.tertiary {
  color: var(--white);
}

.dark.secondary:hover {
  background-color: var(--white15);
}

.dark.primary {
  color: var(--type-primary);
  background-color: var(--white);
}

.dark.secondary {
  background-color: var(--white07);
}

button.icon {
  padding: 8px;
}

button.text {
  padding: 8px 16px;
}

button.icon.text {
  padding: 8px 16px 8px 8px;
  gap: 8px;
}

button.chevron {
  background-color: var(--white);
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px inset var(--border-low);
  box-shadow: 0px 2px 8px 0px #0E131826;

  position: sticky;
  transform-origin: center center;
  top: 42%;
  transition: opacity 0.2s ease 0s;
}

button.chevron:hover {
  cursor: pointer;
  border-color: var(--border);
  box-shadow: 0px 4px 12px 0px #0E131826;
}

button.chevron.hidden {
  opacity: 0;
}

button.chevron.hidden:hover {
  cursor: initial;
}

button.chevron#left {
  /* left: 12px; */
  right: 89%;
  /* opacity: 0; */
  /* display: none; */
}

button.chevron#right {
  right: -2%;
}

#live-preview.shrunk button.chevron {
  top: 40%;
}

/* PRINT PANEL */

#print-panel-main {
  /* padding: 16px;
  padding-bottom: 0; */
  display: grid;
  /* flex-direction: column; */
  grid-template-rows: auto auto;
  /* gap: 16px; */
  max-height: 524px;
  overflow-y: scroll;
}

#print-panel-main h1 {
  text-align: left;
  line-height: 26px;
}

h1 ~ .text-group {
  justify-content: flex-start;
}

.text-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
}

.text-group i {
  color: var(--type-tertiary);
  font-size: 14px;
}

#everything-else {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* overflow-y: scroll; */
  padding: 16px;
  padding-top: 0;
  /* box-shadow: 0px 2px 4px 0px #0E13181A inset; */

  /* box-shadow: 0px 4px 6px 0px #0E13181A inset; */
}

.selector {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* .selector .text-group {
  
} */

.frame-carousel {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 8px;
}

.frame-carousel div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frame-carousel input {
  width:0;
  height: 0;
}

.frame-carousel p {
  font-size: 12px;
}

.frame-carousel img {
  width: 85px;
  height: 64px;
  border: 1px inset var(--border-low);
  border-radius: 4px;
}

.thumbnail-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.thumbnail-select img {

}

.thumbnail-select.active img {
  border: 1px solid var(--primary); 
  outline: 4px solid var(--white);
  outline-offset: -5px;
}

.thumbnail-select:not(.active):hover img {
  border-color: var(--border-hover);
}

.thumbnail-select:hover {
  cursor: pointer;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--border-low);
}

.perk {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 8px;
}

.perk div {
  display: flex;
  flex-direction: column;
}



/* RESIZE */
@media only screen and (max-width: 940px) {
  input {
    display: none;
  }
}

/* //////// */
#print-panel.start {
  /* display: none; */
  width: 20px;
  position: fixed;
  right: 20px;
  opacity: 0;
}

main.start {
  grid-template-columns: 72px 1fr 0;
}